# Ignore all JSON credential files anywhere in the project
**/firebase_credentials.json
**/credentials.json
firebase_credentials.json
credentials.json

# Python artifacts
**/__pycache__/
*.pyc

# Virtual Environment
venv/
.envcredentials copy.json
